/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal style apply
1800px +: Big desktop

$breakpoint argyument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px;
*/
:root {
  --color-primary: #adccc7;
  --color-primary-light: #1dd1a1;
  --color-gray-light: #e0e0e0;
  --color-gray-medium: #9e9e9e;
  --color-gray-dark: #757575;
  --color-accent-1: #d34c26;
  --color-accent-1-light: #ff6b6b;
  --color-accent-2: #ff9f43;
  --color-accent-2-light: #feca57;
  --color-accent-3: #0abde3;
  --color-accent-3-light: #48dbfb;
  --color-accent-4: #01a3a4;
  --color-accent-4-light: #00d2d3;
  --color-accent-5: #2e86de;
  --color-accent-5-light: #2e86de; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 70%; } }

body {
  box-sizing: border-box;
  background: var(--color-white);
  color: var(--color-black); }

.margin-top-5 {
  margin-top: 5rem !important; }

.scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-gray-light); }

.scroll-bar::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-gray-light); }

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-dark); }

.stv-switch {
  clear: both; }

input.stv-checkbox-switch {
  position: absolute;
  left: -99999px;
  top: -99999px; }
  input.stv-checkbox-switch + label {
    position: relative;
    float: left;
    line-height: 1.6em;
    height: 1.6em;
    padding-left: 3.5em;
    margin: 0.2em 0;
    cursor: pointer; }
    input.stv-checkbox-switch + label::before, input.stv-checkbox-switch + label::after {
      position: absolute;
      left: 0;
      content: '';
      line-height: 1em;
      -webkit-transition: all 0.1s cubic-bezier(0.72, 0.21, 0.95, 0.64);
      transition: all 0.1s cubic-bezier(0.72, 0.21, 0.95, 0.64); }
    input.stv-checkbox-switch + label::before {
      width: 3em;
      top: 0;
      bottom: 0;
      background-color: #ff4242;
      border-radius: 1em;
      box-shadow: inset 0.13em 0.13em 0.2em rgba(0, 0, 0, 0.3); }
    input.stv-checkbox-switch + label::after {
      width: 1.4em;
      top: 0.1em;
      bottom: 0.1em;
      margin-left: 0.1em;
      border-radius: 50%;
      background-color: #fff; }
  input.stv-checkbox-switch:checked + label::before {
    background: #13cd4a; }
  input.stv-checkbox-switch:checked + label::after {
    margin-left: 1.5em; }

.slider {
  display: block;
  position: relative;
  height: 36px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .slider .slider-touch-left, .slider .slider-touch-right {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 36px;
    width: 36px;
    padding: 6px;
    z-index: 2; }
    .slider .slider-touch-left span, .slider .slider-touch-right span {
      display: block;
      width: 100%;
      height: 100%;
      background: #F0F0F0;
      border: 1px solid #A4A4A4;
      border-radius: 50%; }
  .slider .slider-line {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 36px);
    left: 18px;
    top: 16px;
    height: 4px;
    border-radius: 4px;
    background: #F0F0F0;
    z-index: 0;
    overflow: hidden; }
    .slider .slider-line span {
      display: block;
      height: 100%;
      width: 0%;
      background: orange; }

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text input */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: normal; }

p {
  font-size: 1.6rem;
  line-height: 2.4rem; }

a {
  font-size: 1.6rem;
  text-decoration: none; }
  a:hover {
    color: #144c52;
    transition: all .25s ease-in-out; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 1.8rem; }

.button, .button:link, .button:visited {
  display: inline-block;
  padding: 1.5rem 1.5rem;
  font-size: 1.8rem;
  border: 1px solid #fafafa;
  border-radius: 16px;
  text-transform: capitalize;
  color: #fafafa;
  text-decoration: none;
  transition: all .2s ease;
  position: relative;
  animation: slideBottom 1s ease-out; }

.button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  z-index: -1;
  transition: all .4s ease-out; }

.button:hover {
  background-color: #fafafa;
  transform: translateY(-3px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: var(--color-primary); }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    background-color: #fafafa; }

.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.button--transparent {
  margin-top: 2rem;
  background-color: transparent; }

.button-control {
  padding: 4px 6px;
  background-color: var(--color-gray-dark);
  border-radius: 100em; }
  .button-control, .button-control:link, .button-control:visited {
    display: inline-block;
    color: #fafafa; }
  .button-control i {
    font-size: 1.2rem; }
  .button-control:hover {
    background-color: var(--color-accent-1-light);
    color: #fafafa;
    transition: all .2 ease-in-out; }
  .button-control:active {
    background-color: var(--color-accent-1);
    color: #fafafa;
    transition: all .1; }

.logo {
  font-size: 8.5rem;
  font-weight: 300;
  color: #fafafa;
  animation: slideRight 1s ease-out;
  cursor: pointer; }
  .logo a {
    text-decoration: none;
    color: #fafafa; }
  .logo span {
    font-size: 9rem;
    font-weight: 600;
    color: #212121; }
  .logo--block {
    font-size: 4.5rem;
    line-height: 4rem;
    text-align: center; }
    .logo--block span {
      display: block;
      line-height: 8.5rem; }
  .logo--small {
    font-size: 2.6rem;
    line-height: 2.6rem; }
    .logo--small span {
      font-size: 2.7rem; }

@media only screen and (max-width: 56.25em) {
  .benefits {
    flex-wrap: wrap; } }

.benefits .benefits__card {
  flex-basis: 20%;
  background-color: rgba(250, 250, 250, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(33, 33, 33, 0.15);
  transition: transform .3s;
  color: var(--color-gray-dark); }
  .benefits .benefits__card__icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    display: inline-block;
    background-image: linear-gradient(to right, #adccc7, #053220);
    -webkit-background-clip: text;
    color: transparent; }
  .benefits .benefits__card .heading-tertiary {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    backface-visibility: hidden; }
  .benefits .benefits__card__text {
    font-size: 1.4rem; }
  .benefits .benefits__card:hover {
    transform: translateY(-1.5rem) scale(1.1); }
  @media only screen and (max-width: 56.25em) {
    .benefits .benefits__card {
      flex: 1 1 40%;
      margin: 1rem; } }

.benefits:hover .benefits__card:not(:hover) {
  transform: scale(0.9); }
  @media only screen and (max-width: 75em) {
    .benefits:hover .benefits__card:not(:hover) {
      transform: scale(1); } }

.menu-bar {
  height: 4.8rem !important;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  left: 0;
  top: 0;
  z-index: 100; }

.header {
  height: 35vh;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(20, 76, 82, 0.8), rgba(20, 76, 82, 0.8));
  background-size: cover;
  background-position: top; }
  .header .header__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fafafa;
    line-height: 1; }
    @media only screen and (max-width: 75em) {
      .header .header__wrapper {
        width: 70%; } }
    @media only screen and (max-width: 75em) {
      .header .header__wrapper {
        width: 100%;
        padding: 2rem; } }
  .header .header__title {
    font-size: 9.3rem;
    margin: 2rem 0;
    font-weight: 600;
    animation: slideLeft 1s ease-out;
    backface-visibility: hidden; }
    @media only screen and (max-width: 75em) {
      .header .header__title {
        font-size: 8.3rem; } }
    @media only screen and (max-width: 56.25em) {
      .header .header__title {
        font-size: 7.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .header .header__title {
        font-size: 6.3rem; } }
    .header .header__title span {
      color: #212121;
      font-size: 9.6rem; }
      @media only screen and (max-width: 75em) {
        .header .header__title span {
          font-size: 8.6rem; } }
      @media only screen and (max-width: 56.25em) {
        .header .header__title span {
          font-size: 7.6rem; } }
      @media only screen and (max-width: 37.5em) {
        .header .header__title span {
          font-size: 6.6rem; } }
  .header .header__subtitle {
    font-size: 3.6rem;
    margin: 1rem 0;
    text-transform: capitalize;
    animation: slideRight 1s ease-out;
    backface-visibility: hidden; }
  .header .button {
    margin: 2rem 0;
    display: inline-block; }
    .header .button:first-of-type {
      margin-right: .5rem; }
    .header .button:last-of-type {
      margin-left: .5rem; }

.container--login {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(20, 76, 82, 0.8), rgba(20, 76, 82, 0.8));
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.left-side,
.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left; }

.center-side {
  text-align: left;
  width: 60%; }

.width-full {
  width: 100%; }

.flex-container {
  display: flex; }
  @media only screen and (max-width: 720px) {
    .flex-container {
      flex-direction: column; }
      .flex-container > div {
        width: 100%;
        padding: 0; } }

.padding-30 {
  padding: 30px 0; }

.filters {
  width: 35%;
  padding-right: 15px; }
  @media only screen and (max-width: 720px) {
    .filters {
      width: 100%;
      padding: 0; } }

.recommendations {
  width: 65%;
  padding-left: 15px; }
  @media only screen and (max-width: 720px) {
    .recommendations {
      width: 100%;
      padding: 0; } }

.range-slider {
  margin: 60px 0 0 0%; }

.range-slider {
  width: 100%; }

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0; }
  .range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    .range-slider__range::-webkit-slider-thumb:hover {
      background: #1abc9c; }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c; }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out; }
    .range-slider__range::-moz-range-thumb:hover {
      background: #1abc9c; }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c; }
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c; }

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px; }
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: ''; }

::-moz-range-track {
  background: #d7dcdf;
  border: 0; }

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0; }

.menu__checkbox {
  display: none; }

.menu__button {
  background-color: #fafafa;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(33, 33, 33, 0.1);
  text-align: center;
  cursor: pointer; }

.menu__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#adccc7, #053220);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.menu__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.menu__item {
  margin: 1rem; }

.menu__link:link, .menu__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fafafa 50%);
  background-size: 220%;
  transition: all .4s; }
  .menu__link:link span, .menu__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.menu__link:hover, .menu__link:active {
  background-position: 100%;
  color: #144c52;
  transform: translateX(1rem); }

.menu__checkbox:checked ~ .menu__background {
  transform: scale(120); }

.menu__checkbox:checked ~ .menu__nav {
  opacity: 1;
  left: 0;
  width: 100%; }

.menu__icon {
  position: relative;
  margin-top: 2.5rem; }
  .menu__icon, .menu__icon::before, .menu__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: var(--color-gray-dark);
    display: inline-block; }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .menu__icon::before {
    top: -0.8rem; }
  .menu__icon::after {
    top: 0.8rem; }

.menu__button:hover .menu__icon:before {
  top: -1rem; }

.menu__button:hover .menu__icon:after {
  top: 1rem; }

.menu__checkbox:checked + .menu__button .menu__icon {
  background-color: transparent; }
  .menu__checkbox:checked + .menu__button .menu__icon::before, .menu__checkbox:checked + .menu__button .menu__icon::after {
    top: 0; }
  .menu__checkbox:checked + .menu__button .menu__icon::before {
    transform: rotate(135deg); }
  .menu__checkbox:checked + .menu__button .menu__icon::after {
    transform: rotate(-135deg); }

.user-nav {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;
  cursor: pointer; }
  .user-nav__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 100em;
    overflow: hidden;
    margin: 0 1.6rem; }
    .user-nav__avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .user-nav__name {
    font-weight: 300;
    font-size: 1.6rem; }
    @media only screen and (max-width: 500px) {
      .user-nav__name {
        display: none; } }
    .user-nav__name:hover {
      color: var(--color-gray-light);
      transition: all .25s ease-in-out; }

.landing-wrapper {
  width: 80%;
  margin-left: 10%;
  flex-direction: row; }

.menu-navbar {
  top: 10px;
  left: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 300; }
  .menu-navbar li {
    position: relative;
    float: left;
    line-height: 5.7rem;
    background: inherit;
    text-align: center;
    transition: all .2s; }
    .menu-navbar li.rounded {
      border-radius: 100em;
      background: #adccc7;
      line-height: 5rem;
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      margin: 0 5px; }
  @media only screen and (max-width: 500px) {
    .menu-navbar {
      width: calc(100% - 100px);
      display: flex;
      align-items: center;
      justify-content: center; }
      .menu-navbar li:not(:last-child) {
        display: none; }
      .menu-navbar li:last-child {
        display: block;
        cursor: pointer; } }

.menu-navbar li a {
  position: relative;
  display: block;
  padding: 0 20px;
  line-height: inherit;
  color: white;
  text-decoration: none; }

.menu-navbar li:hover:before {
  margin-top: 1px;
  border-radius: 50% 50% 0 50%;
  transition: all 0.1s, background 0.2s, margin-top 0.2s cubic-bezier(0.5, 30, 0.2, 0); }

.menu-navbar li:hover,
.menu-navbar li:hover:before {
  background: #3a3a3a; }

.menu-navbar li.active,
.menu-navbar li.active:before {
  background: #adccc7; }

.section--benefits {
  background: linear-gradient(to bottom, rgba(20, 76, 82, 0.8), rgba(20, 76, 82, 0.8));
  background-size: cover;
  background-position: top;
  overflow: auto;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 75em) {
    .section--benefits {
      padding: 0 3rem 5rem 3rem; } }
  .section--benefits__wrapper {
    max-width: 120rem;
    margin: 0 auto; }
  .section--benefits .section__title {
    margin-top: 5rem;
    color: rgba(250, 250, 250, 0.9); }
  .section--benefits .benefits {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .section--benefits .benefits {
        flex-direction: column; } }

.product-image {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  float: left;
  margin-right: 16px;
  width: auto;
  max-width: 95px;
  height: 200px; }

.homePageRailContainer {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 16px; }

.u-paddingBottomMedium {
  padding-bottom: 16px; }

.u-paddingTopMedium {
  padding-bottom: 16px; }

.gr-mediaBox__desc--clearfixOverflow {
  display: block;
  width: auto !important;
  overflow: hidden;
  *zoom: 1; }

.gr-mediaBox {
  display: flex;
  position: relative; }

.title {
  padding: 10px 0; }

.gr-mediaBox__desc {
  display: table-cell;
  vertical-align: top;
  width: 10000px !important;
  *display: block;
  *zoom: 1;
  *width: auto !important; }

.gr-mediaBox:after {
  content: "";
  display: table;
  clear: both; }

.product-name {
  font-weight: bold;
  word-wrap: break-word; }

.product-manufacturer {
  margin-top: 4px;
  color: #333333;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 12px; }

.product-nameLink {
  color: #333333;
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold; }

.product-manufacturerLink {
  color: #333333; }

.u-marginTopTiny {
  margin-top: 10px; }

.product-additionalContent {
  bottom: 0;
  position: absolute; }

.gr-button--small {
  width: 150px;
  font-size: 11px;
  padding: 4px 12px; }

.gr-button--quiet {
  background-color: transparent;
  padding: 8px 12px;
  border: 1px solid #382110;
  color: #382110;
  font-weight: normal; }

.gr-button {
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px; }

.form {
  display: flex;
  flex-wrap: wrap;
  backface-visibility: hidden;
  max-width: 400px;
  width: 100%;
  background-color: #fafafa;
  padding: 3.2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .form .logo {
    color: var(--color-primary);
    margin: auto;
    margin-bottom: 6.4rem; }
  .form__group {
    display: flex; }
    .form__group > * {
      margin-right: .8rem; }
      .form__group > *:last-child {
        margin-right: 0; }
  .form__field {
    width: 100%;
    margin-bottom: 2.4rem;
    display: flex;
    position: relative;
    padding: .8rem 0;
    color: var(--color-gray-dark);
    backface-visibility: hidden; }
    .form__field:hover {
      color: var(--color-primary);
      transition: all .5s ease-in-out; }
      .form__field:hover:after {
        transform: scaleX(1);
        transition: all .5s ease-in-out; }
      .form__field:hover input[type]::-webkit-input-placeholder {
        color: var(--color-primary);
        transition: all .5s ease-in-out; }
    .form__field input[type=email],
    .form__field input[type=password],
    .form__field input[type=text] {
      width: 100%;
      margin-left: 1.6rem; }
      .form__field input[type=email]::-webkit-input-placeholder,
      .form__field input[type=password]::-webkit-input-placeholder,
      .form__field input[type=text]::-webkit-input-placeholder {
        color: var(--color-gray-dark); }
    .form__field:before, .form__field:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--color-gray-dark);
      position: absolute;
      bottom: 0;
      left: 0; }
    .form__field:after {
      transform: scaleX(0);
      background-color: var(--color-primary); }
  .form__button {
    color: var(--color-primary);
    border-color: currentColor;
    border-radius: 100em;
    width: 100%;
    margin-top: 6.4rem;
    margin-bottom: 3.2rem; }
    .form__button:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .form__forgot, .form__sign-up {
    font-size: 1.4rem;
    color: var(--color-gray-dark);
    margin-left: auto;
    transition: all ease-in-out .25s; }
    .form__forgot:hover, .form__sign-up:hover {
      color: var(--color-primary); }
  .form__agree {
    font-size: 1.4rem; }
    .form__agree a {
      font-size: 1.6rem;
      color: #144c52;
      transition: all ease-in-out .25s; }
  .form__sign-up {
    margin: auto; }
    .form__sign-up span {
      color: var(--color-primary);
      font-size: 1.6rem; }
  .form__subtitle {
    font-size: 1.8rem;
    margin-bottom: 2.4rem; }
